.hero {
  margin-top: 0;
  padding-top: 16rem;
  height: calc(100vh - 4rem);
  background: linear-gradient(to bottom, #bbe3d1, white);
}
@media (max-width: 768px) {
  .hero {
    height: 100svh;
    padding-top: 8rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 6rem;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  margin-top: 4rem;
    padding-top: 4rem;
    background: linear-gradient(to bottom, #f4ffd9, white);
}

@media (max-width: 768px) {
  .field {
    margin-bottom: 2rem;
    margin-top: 0
  }
}

.jobListing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  /*background: #EFF6F3;*/
}

.cardField {
  display: flex;
  flex-grow: 1;
  flex-basis: 160px;
  max-width: 100%;
  width: 20%;
  text-align: center !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cardField {
    flex-basis: 200px;
  }
}

.innerCardField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px 10px;
  border-radius: 48px;
  transition: all 0.3s ease-in-out 0s;
  @apply border border-slate-300;
  @apply hover:-translate-y-1.5 hover:border-primary hover:shadow-lg;
  @apply cursor-pointer;
  @apply drop-shadow-md;
}

.testimony {
  display: flex;
  flex-direction: column;
  /*min-height: 100vh;*/
  padding-top: 4rem;
}

.testimonyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px 10px;
  border-radius: 48px;
  transition: all 0.3s ease-in-out 0s;
  @apply border border-slate-300;
  @apply hover:-translate-y-1.5 hover:border-primary hover:shadow-lg;
  @apply cursor-pointer;
  @apply drop-shadow-md;
}
