@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.8rem;

    --color-primary: #39AA5B;
    --color-secondary: #e6ff98;
    --secondary-background: #c7c7c7;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-2xl font-custombold;
  }
  p, button, a, span, label, input, textarea, select, option, div {
    @apply font-customregular;
  }

  ul, ol, li {
    @apply font-customregular list-disc ml-2;
  }

  li::marker {
    @apply text-primary;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  ::selection {
    background: #d2f34c; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #d2f34c; /* Gecko Browsers */
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    overflow: hidden;
    z-index: 100;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: white;
    opacity: 1;
  }

  .logo {
    @apply transition-all duration-500;
  }
  .dot-logo {
    @apply transition-all duration-500;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #98cb4c;
    margin-bottom: 5px;
    /*position: absolute;*/
    /*z-index: 10;*/
    /*left: 172px;*/
    /*top: 38px;*/
    /*transform: translateX(-134px) translateY(-9px) scale(4);*/
  }
  .dot-bottom {
    @apply transition-all duration-500;
    box-shadow: rgb(173, 243, 72) 0 0 20px 15px;
  }
  .scroll-top {
    width: 35px;
    height: 35px;
    line-height: 30px;
    position: fixed;
    bottom: 20px;
    right: 12px;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #00bf58;
    transition: all .5s ease-in-out;
    opacity: 0;
    @apply drop-shadow-xl;
  }
  .scroll-top:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,transparent 80%);
  }

  @media (max-width: 768px) {
    .dot-logo {
      left: 162px;
    }
    .scroll-top {
      display: none;
    }
  }

  #nav-icon {
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0;
  }

  #nav-icon span:nth-child(2) {
    top: 6px;
  }

  #nav-icon span:nth-child(3) {
    top: 12px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  @media (min-width: 768px) {
    #nav-icon {
      display: none;
    }
  }

  .table-info-login {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }

  .table-info-login td {
    padding: 5px 10px;
    border: 1px solid #ddd;

  }

  .table-info-login th {
    padding: 5px 10px;
    border: 1px solid #ddd;
  }

  .table-info-login tr {
    background-color: var(--color-secondary)
  }

  .pattern {
    @apply text-black;
    background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 4px ), repeating-linear-gradient( rgba(17, 245, 0, 0.3), rgba(11, 145, 0, 0.3));
  }

  .vector-top {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    right: 10%;

    background: linear-gradient(85.13deg, rgba(70, 145, 0, 0.55) 3.92%, rgba(221, 245, 0, 0.37) 98.45%);
    filter: blur(120px);
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}