@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;

    --color-primary: #39AA5B;
    --color-secondary: #d2f34c;
    --secondary-background: #c7c7c7;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-2xl font-wotfardBold;
  }
  p, button, a, span, label, input, textarea, select, option, li, div {
    @apply font-wotfardRegular;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }

  .logo {
    @apply transition-all duration-500;
  }
  .dot-logo {
    @apply transition-all duration-500;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #98cb4c;
    position: absolute;
    z-index: 10;
    left: 172px;
    top: 38px;
    /*transform: translateX(-134px) translateY(-9px) scale(4);*/
  }
  .dot-bottom {
    @apply transition-all duration-500;
    box-shadow: rgb(173, 243, 72) 0 0 20px 15px;
  }
  .scroll-top {
    width: 35px;
    height: 35px;
    line-height: 30px;
    position: fixed;
    bottom: 20px;
    right: 12px;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #00bf58;
    transition: all .5s ease-in-out;
    @apply drop-shadow-xl;
  }
  .scroll-top:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,transparent 80%);
  }
}