
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  transition: all .5s;
  z-index: 10;
  height: 4rem;
}

.hero {
  margin-top: 0;
  padding-top: 4rem;
  height: calc(100vh - 4rem);
  background: linear-gradient(to bottom, #bbe3d1, white);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  margin-top: 4rem;
  padding-top: 4rem;
  background: linear-gradient(to bottom, #F4FFD9, white);
}

.jobListing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  /*background: #EFF6F3;*/
}

.cardField {
  display: flex;
  flex-grow: 1;
  flex-basis: 160px;
  max-width: 100%;
  width: 20%;
  text-align: center !important;
}

.innerCardField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px 10px;
  border-radius: 48px;
  transition: all .3s ease-in-out 0s;
  @apply border border-slate-300;
  @apply hover:-translate-y-1.5 hover:border-primary hover:shadow-lg;
  @apply cursor-pointer;
  @apply drop-shadow-md;
}

.testimony {
  display: flex;
  flex-direction: column;
  /*min-height: 100vh;*/
  padding-top: 4rem;
}

.testimonyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px 10px;
  border-radius: 48px;
  transition: all .3s ease-in-out 0s;
  @apply border border-slate-300;
  @apply hover:-translate-y-1.5 hover:border-primary hover:shadow-lg;
  @apply cursor-pointer;
  @apply drop-shadow-md;
}